<h1>3D modelling works</h1>
<p>I have taken 3D modeling courses in NYU tandon idm program <br>
with professor David Haines <br>
Where I learnt Maya, ZBrush, and Adobe Substance Painter<br>
here is my works:</p>

<h2>
    self-designed robot
</h2>

<img src="/img/3D-model/robot_take1.png" width="900" height="700">
<img src="/img/3D-model/robot_take2.png" width="900" height="700">
<p>this is the prototype of my individually designed robot. At the stage of plain model</p>
<br>
<img src="/img/3D-model/Robort_proto.png" width="900" height="600">

<h2>
    head-sculpture of Anime character made by ZBrush
</h2>

<img src="/img/3D-model/proj3_draft.png" width="900" height="600">
<img src="/img/3D-model/3 copy.jpg" width="900" height="600">
<img src="/img/3D-model/proj3_new_take2.jpg" width="900" height="600">

<br>
<img src="/img/3D-model/Room.jpg" width="900" height="600">
<p>this is the first project I have done in 3D modeling, building a room model from scratch</p>
<br>