<form method="POST" action="">
    {{!-- workCommented: String,
    commentContext: String,
    time: Number,
    alias: String --}}
    <br>
    workCommented <input type="text" name ="workCommented", value="">
    </br>
    <br>
    commentContext <input type="text" name ="commentContext", value="">
    </br>
    <br>
    time <input type="number" name ="time", value="">
    </br>
    <br>
    alias <input type="text" name ="alias", value="">
    </br>
    <input type="submit">
</form>