<h1>
    About me:
</h1>
<div>
    Hi, my name is Ruixiang Han, you can call me Albert. \n I am based in New York and Shanghai, and I am from Nanjing, China.
</div>
<div>
    I am a Junior at NYU, major in Computer, minor in Interactive Media Arts.
</div>
<div>
    I seem to really like science, liberal arts, music and art 😅 so I don't know which label I should label myself.
</div>
<div>
    I love music and have two bands, one as guitarist and one as bassist. I like programming and I like to make things by myself, which makes me  happy.
</div>
<div>
    Socrates said that he who knows he is ignorant is wise. I know very well that I am a ignorant person. Therefore, I definitely have a developmental mindset to embrace and explore the world.
</div>
