

<h1>I recognize computer as a tool to implement what I want</h1>
Though most of my projects are interactive media based, I still have some <br>
individual projects for merely Computer Science:
my research interest in Computer Science are:
<ol>
    <li>full stack website development</li>
        <br>
    <li>Computer Graphics</li>
        <br>
    <li>Computer Music</li>
</ol>
<br>
<a href="https://github.com/albertosarus23">My GitHub repository</a>
<h3> selected project: </h3>
<h4>Personal website</h4>
This website features multi-media display, including pictures, videos, and written documents. <br>
The home page should have some abbreviations of my selected art works and once users click them, <br>
they can go to see the description. <br>
The other feature of the website contains features allowing users leave their comments to my work <br>
and they also have a opportunity to leave their email address and send email to me. <br>
<br>
Design, implement, maintain by me individually
<br>
<h5>Technical Stack</h5>
Frontend: Express.js, Handlebar
Database: MongoDB, Mongoose
Backend: Node.js
<h5>Technical Stack</h5>
<div>
    <img src="/img/WebDesign/Bio.png" width="600" height="400"> </img>
    <div>
        Bio page
    </div>
</div>
<div>
    <img src="/img/WebDesign/Homepage.png" width="600" height="400"></img>
    <div>
        Home page
    </div>
</div>

