<style>
    #mylist {
        width: 40em;
        height: 15em;
        background: #3399ff;
        display: inline-block;
    }
    #mylist ol{
        background: #548ac0;
        padding: 20px;
    }

    #mylist ol li{
        background: #b0c7e0;
        color: rgb(59, 59, 151);
    }
    #caption h1{
        text-align: center;
        
    }
    #picture{
        display: inline-block;
    }
    #intro{
        display: inline;
    }
</style>
<main>
    <body>
        <main>
            <div id="caption">
                <h1>Hello, there. <br>Welcome to my website</h1>
            </div>
            <div id="picture">
                <a href="/author">
                <img src="/img/Me_at_NYUSH.jpg" width="400" height="400"></img>
                </a>
                <br>
                click picture to learn more about author
            </div>
            <div id='intro'>
                <p>
                     My name is Ruixiang Han, and you can call me Albert. (this is me ヾ(@^▽^@)ノ)
                     <br>
                    This is the website where I dispaly all my works, including but not limited to
                </p>
            </div>
            <br>
            <div id="mylist">
                <ol>
                <li>Interactive Media Arts projects</li>
                <br>
                <li>Blogs</li>
                <br>
                <li>Games demo</li>
                <br>
                <li>CS projects</li>
                <br>
                <li>Photography</li>
                <br>
                <li>Live performances recording</li>
                <br>
                <li>Music</li>
                <br>
                <li>3D models</li>
                </ol>
            </div>
            <br>
            <h1>Feel free to wander around and leave comments to any of these</h1>
        </main>
    </body>
</main>