<h1>Hello, my name is Ruixiang 
    <br>
    you can call me Albert
    <br>
 Welcome to my website</h1>
<a href="/author"><img src="/img/Me_at_NYUSH.jpg" width="400" height="400"></a>
this is me ヾ(@^▽^@)ノ
<p>This is the website where I dispaly all my works, including but not limited to </p>
    <ol>
    <li>Interactive Media Arts projects</li>
    <br>
    <li>Blogs</li>
    <br>
    <li>Games demo</li>
    <br>
    <li>CS projects</li>
    <br>
    <li>Photography</li>
    <br>
    <li>Live performances recording</li>
    <br>
    <li>Music</li>
    <br>
    <li>3D models</li>
    </ol>
<br>
<h1>Feel free to wander around and leave comments to any of these</h1>
