<h1>I Love Music, I mean, Music.</h1>
I didn't have a chance to receive proper music education until I went college <br>
where I meet incredible people. They taught and banded with me. <br>
Thanks to them, I was introduced to the great hall of music. <br>
It is so glamourous and tremendous that I need to spend my whole life peeking the light inside.

<h3>Now I play and create</h3>
I played bass and guitar, a little piano and drum.
Band member/ bass player for @late_train
<br>
I played serveral lives in Brooklyn, US and Shanghai, Suzhou in China.
Here is some clips of the lives:

Wuer art space @Suzhou
<video src="/img/Music/Live/SHclip1.mp4" type="video/mp4" height="400" width="600"></video>
<br>

NYUSH @Shanghai
<video src="/img/Music/Live/SHclip2.mp4" type="video/mp4" height="400" width="600"></video>
<br>

Market Hotel @Brooklyn
<video src="/img/Music/Live/BKclip1.mp4" type="video/mp4" height="400" width="600"></video>
<br>

<video src="/img/Music/Live/BKClip2.mp4" type="video/mp4" height="400" width="600"></video>
<br>

<video src="/img/Music/Live/BKclip3.mp4" type="video/mp4" height="400" width="600"></video>
<br>