<h1>I Love Music, I mean, Music.</h1>
I didn't have a chance to receive proper music education until I went college <br>
where I meet incredible people. They taught and banded with me. <br>
Thanks to them, I was introduced to the great hall of music. <br>
It is so glamourous and tremendous that I need to spend my whole life peeking the light inside.

<h3>Now I play and create</h3>
I played bass and guitar, a little piano and drum.
Band member/ bass player for @late_train
<br>
I played serveral lives in Brooklyn, US and Shanghai, Suzhou in China.
Here is some clips of the lives:

<h3>Market Hotel @Brooklyn</h3>
<iframe width="840" height="630"
src="https://www.youtube.com/embed/9LpQcUGIgOM">
</iframe>
<br>
<br>
<iframe width="840" height="630"
src="https://www.youtube.com/embed/2l8rQgHYCEE">
</iframe>
<br>
<br>
<h3>Wuer art space @Suzhou</h3>
<iframe width="640" height="430"
src="https://www.youtube.com/embed/wbcJp-XWc8M">
</iframe>
<h3>NYUSH @Shanghai</h3>
