<style>
    .form{
        position: relative;
        top: 100px;
    }
</style>
<ul class="form">
    <li><a href="/reviews/login">Login</a></li>
    <li><a href="/reviews/register">Register</a></li>
</ul>